<ion-header>
  <ion-navbar>
    <ion-title>Select items</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<span *ngFor="let category of allCategories">
  <hr ion-text color="primary">
  <h3 ion-text color="primary">{{category.category}}</h3>

  <button ion-button outline color="primary" *ngFor="let quote of category.quotes" id="generatedButton{{quote.id}}" (click)='onClickButtonQuote($event, quote)' (press)='onPressButton(quote)'>
    <span *ngIf="quote.default">
      {{quote.person}}
    </span>
  </button>

  <button outline color="primary" ion-button [navPush]="categoriesPage">
    +
  </button>
</span>

</ion-content>

<ion-footer>
  <!--<button #emailButton color="secondary" ion-button full [navPush]="emailPage" [navParams]="listToSend">Send Email</button>-->
</ion-footer>