<ion-header>
  <ion-navbar color="primary">

    <!-- this is the menu button -->
    <!-- ion-buttons controls where they sit, and look nice -->

    <ion-buttons right> <!-- ion-buttons controls where they sit, and look nice -->
      <button ion-button [navPush]="sharePage">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons left> <!-- ion-buttons controls where they sit, and look nice -->
      <!--<button ion-button menuToggle>-->
        <button ion-button [navPush]="settingsPage">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center color="primary">Favorites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<span *ngFor="let category of allNewCategories">
  <hr ion-text color="primary">
  <h3 ion-text color="primary">{{category.category}}</h3>

  <span *ngFor="let quote of category.quotes">
    <span *ngIf="quote.default">
      <button *ngIf="!isSelected(quote)"
              id="generatedButton{{quote.id}}"
              ion-button outline
              (click)='onClickButton(quote)'
              (press)='onPressButton(quote)'>
          {{quote.person}}
      </button>
      <button *ngIf="isSelected(quote)"
              id="generatedButton{{quote.id}}"
              ion-button
              (click)='onClickButton(quote)'
              (press)='onPressButton(quote)'>
          {{quote.person}}
      </button>
    </span>
  </span>
  <button outline color="primary" ion-button [navPush]="itemsPage" [navParams]="category">
    +
  </button>
</span>

</ion-content>
