<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<span *ngFor="let category of allNewCategories">
  <hr ion-text color="primary">
  <h3 ion-text color="primary">{{category.category}}</h3>

  <span *ngFor="let quote of category.quotes">
    <span *ngIf="quote.default">
      <button *ngIf="!isSelected(quote)"
              id="generatedButton{{quote.id}}" 
              ion-button outline color="primary"
              (click)='onClickButton(quote)' 
              (press)='onPressButton(quote)'>
          {{quote.person}}
      </button>
      <button *ngIf="isSelected(quote)"
              id="generatedButton{{quote.id}}" 
              ion-button outline color="danger"
              (click)='onClickButton(quote)' 
              (press)='onPressButton(quote)'>
          {{quote.person}}
      </button>
    </span>
  </span>
  <button outline color="primary" ion-button [navPush]="itemsPage" [navParams]="category">
    +
  </button>
</span>

</ion-content>
