<ion-header>

  <ion-navbar>
    <ion-title>{{ category.category | uppercase }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of category.quotes; let i = index">
    <ion-card-content>
      <p class="author">{{ quote.person }} </p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button
            ion-button
            clear 
            small 
            *ngIf="!isFavorite(quote)"
            (click)="onAddToFavorits(quote)">Favorite</button>
        <button 
            ion-button 
            clear 
            small 
            color="danger" 
            *ngIf="isFavorite(quote)"
            (click)="onRemoveFromFavorits(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
