page-items {
    .author {
        color: #000;
        text-align: left;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        &:after {
            content: '- ';
        }
    }
}
